body {
  font-family: Arial, sans-serif;
  margin: auto;
  max-width: 1010px;
  text-align: justify;
}

a:link {
     color: #51925d;
}
  
a:visited {
    color: green;
  }
a:hover {
    color: #73bb70;
  }
  
  a:active {
    color: rgb(171, 171, 171);
  }


.navbar {
  color: #d8ffd6;
  background-color: #51925d;
  font-weight: bold;
  border-radius: 2px;
  max-width: 1010px;
}

.navbar a {
  color: #d8ffd6;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #51925d;
  background-color: #d8ffd6;
}